@font-face{
    font-family: "SpecialEliteCyr";
    src: url('SpecialEliteCyr.ttf');
}

body {
    font-family: "SpecialEliteCyr", HelveticaNeueCyr, Arial, sans-serif;
    font-size: 20pt;
    background: #bbecff;
}

input[type=text] {
    font-family: "SpecialEliteCyr", HelveticaNeueCyr, Arial, sans-serif;
    font-size: 20pt;
    background: #ff5f5f;
    padding: 5px;
}

button {
    font-family: "SpecialEliteCyr", HelveticaNeueCyr, Arial, sans-serif;
    font-size: 20pt;
    color: #f00;
    padding: 5px;
}