@font-face {
    font-family: "SpecialEliteCyr";
    src: url('SpecialEliteCyr.ttf');
}

body {
    font-family: "SpecialEliteCyr", HelveticaNeueCyr, Arial, sans-serif;
    font-size: 20pt;
    font-weight: 600;
    background: repeating-linear-gradient(
            transparent 0,
            rgba(0, 0, 0, 0.1) 3px,
            transparent 6px
    ), #bfe5ff;
    background-blend-mode: overlay;
    background-size: cover;
    margin: 100px 15px;
    text-align: center;
}

.inputContainer {
    text-align: center;
}

#verificationCode {
    text-align: center;
}

#verificationCode {
    font-family: "SpecialEliteCyr", HelveticaNeueCyr, Arial, sans-serif;
    font-size: 20pt;
    text-align: left;
    background: #ffecde;
    margin: 10px;
    padding: 5px;
    width: 400px;
    height: 30px;
    border-radius: 30px;
    border: 2px solid #ff9a45;
}

#submitButton {
    font-family: "SpecialEliteCyr", HelveticaNeueCyr, Arial, sans-serif;
    font-size: 20pt;
    font-weight: 600;
    background: linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(230, 230, 230, 1) 49%, rgba(215, 215, 215, 1) 50%, rgba(200, 200, 200, 1) 100%);
    border: none;
    width: 250px;
    color: #e44;
    padding: 10px 15px;
    height: 50px;
    border-radius: 50px;
}

@media (min-width: 320px) and (max-width: 480px) {
    body {
        margin: 15px;
    }
    #verificationCode {
        width: calc(100% - 30px);
        font-size: 16pt;
    }

    #submitButton {
        width: 75%;
        font-size: 16pt;
    }
}

@media (min-width: 481px) and (max-width: 800px) {
    body {
        margin: 15px;
    }
    #verificationCode {
        width: calc(75% - 30px);
        font-size: 18pt;
    }

    #submitButton {
        width: 50%;
        font-size: 18pt;
    }
}